<h2 mat-dialog-title>{{ data.course ? 'Edit course' : 'New course' }}</h2>
<mat-dialog-content [formGroup]="form" class="dialog-form">
  <mat-form-field appearance="outline">
    <mat-label>Program</mat-label>
    <mat-select formControlName="programId">
      <mat-option *ngFor="let program of data.programs" [value]="program.id">
        {{ program.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput rows="3" formControlName="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
